@font-face {
    font-family: "assistant";
    src: url("assets/fonts/Assistant-Regular.ttf");
}

@font-face {
    font-family: "ktavyadclm";
    src: url("assets/fonts/ktavyadclm_bolditalic_0.ttf"), url("assets/fonts/KtavYadCLM-BoldItalic_0.otf");
}

body {
    font-family: "assistant";
    direction: rtl;
    margin: 0;
    /* background-image: url("assets/images/openendbg.svg"); */
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
    font-weight: 600;
}

.absolute {
    position: absolute;
}

.header {
    width: 100vw;
    color: white;
    height: 10vh;
    background-image: url("assets/images/bar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 50px 4px rgba(0, 0, 0, 0.35);
    z-index: 999;
    display: flex;
    align-items: center;
}

.head {
    right: 15vw;
    font-weight: 470;
    font-size: 5vw;
    margin: 0;
}

.about {
    width: 9vw;
    height: 9vh;
    left: 5vw;
    top: 1vh;
}

.navigate {
    width: 6vw;
    height: 6vh;
    right: 5vw;
    top: 2.5vh;
}

#exem {
    top: 20vh;
    width: 10vw;
}

.dragover {
    top: 0;
    left: 0;
    z-index: 100;
}

#target {
    top: 30vh;
}

#burgerNav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
}

#burgerNav>div {
    width: 50vw;
    height: inherit;
    background-color: white;
    color: #4d7683;
    transform: translateX(100%);
    transition: 0.3s transform linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    z-index: 999;
}

#burgerNav .x-icon {
    width: 6vw;
    position: absolute;
    right: 5vw;
    top: 5vw;
}

#burgerNav a {
    text-decoration: none;
    color: inherit;
}

#burgerNav.open {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}

#burgerNav.open>div {
    transform: translateX(0);
}

.head-glow {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 4vw;
    align-items: center;
}