@font-face {
    font-family: "assistant";
    src: url("assets/fonts/Assistant-Regular.ttf");
}

body {
    font-family: "assistant";
    direction: rtl;
    margin: 0px;
    background-image: url("assets/images/bg1.svg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
}

.absolute {
    position: absolute;
}

p {
    margin: 0px;
}

.black {
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 999;
}

.header {
    width: 100%;
    color: white;
    height: 15%;
    background-image: url("assets/images/bar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0px 4px 50px 4px rgba(0, 0, 0, 0.35); */
    box-shadow: 0px 4px 50px 4px rgba(0, 0, 0, 0.35);
    z-index: 999;
    display: flex;
    align-items: center;
}

.head {
    right: 8%;
    font-weight: 450;
    font-size: 3%;
    margin: 0;
}

.about {
    width: 9%;
    height: 9%;
    left: 0.1%;
    top: 3%;
}

.navigate {
    width: 6%;
    height: 6%;
    right: 1%;
    top: 4.7%;
}

.opening {
    padding-right: 10%;
    color: #0D2849;
    width: 90%;
    height: 70%;
    top: 47%;
    font-size: 2.5%;
    font-weight: bold;
}

.closing {
    top: 15%;
    right: 7%;
    display: none;
    text-align: center;
    font-size: 4%;
}

.start {
    width: 50%;
    height: 30%;
    border: none;
    border-radius: 1%;
    left: 0%;
    top: 23%;
}

.play {
    color: white;
    font-size: 4%;
    left: 36%;
    top: 33%;
}

.goodluck {
    font-size: 4%;
    margin-top: 5%;
}

.car {
    width: 52%;
    height: 30%;
    right: 47.6%;
    top: 34%;
    display: none;
    z-index: 999;
}

#clue1 {
    width: 60%;
    height: 30%;
    left: 25%;
    top: 65%;
    display: none;
}

#clue2 {
    width: 52%;
    height: 55%;
    top: 10%;
    right: 32%;
    display: none;
}

#clue3 {
    width: 22%;
    height: 22%;
    top: 43%;
    left: 14%;
    display: none;
    z-index: 999;
}

#airbag {
    width: 15%;
    height: 17%;
    top: 48%;
    right: 59.2%;
    display: none;
    z-index: 999;
}

#clue5 {
    width: 10%;
    height: 12%;
    top: 62%;
    right: 59%;
    display: none;
}

#clue6 {
    display: none;
    width: 20%;
    height: 10%;
    right: 50%;
    top: 87%;
    z-index: 998;
    opacity: 0;
}

#woman {
    width: 10%;
    height: 30%;
    right: 50%;
    top: 75%;
    display: none;
    z-index: 999;
}

#clue8 {
    width: 7%;
    height: 15%;
    right: 59%;
    top: 62%;
    display: none;
    z-index: 999;
}

#clue9 {
    width: 30%;
    height: 30%;
    right: 34.5%;
    top: 60.7%;
    display: none;
    z-index: 999;
    opacity: 0;
}

#clue10 {
    width: 90%;
    height: 50%;
    top: 15%;
    display: none;
    z-index: 0.1;
    opacity: 0;
    z-index: 999;
}

#clue11 {
    width: 3%;
    height: 5%;
    right: 67%;
    bottom: 10%;
    display: none;
    z-index: 999;
    opacity: 0;
}

#clue12 {
    width: 3%;
    height: 5%;
    right: 44%;
    bottom: 10%;
    display: none;
    z-index: 999;
    opacity: 0;
}

#clue121 {
    width: 5%;
    height: 9%;
    right: 55%;
    bottom: 11%;
    display: none;
    z-index: 999;
    opacity: 0;
}

#clue13 {
    width: 4%;
    height: 5.5%;
    right: 66%;
    bottom: 12%;
    display: none;
    z-index: 999;
    opacity: 0;
}

#clue14 {
    width: 3%;
    height: 5%;
    right: 48%;
    bottom: 6%;
    display: none;
    z-index: 999;
    opacity: 0;
}

#clue141 {
    width: 2%;
    height: 5%;
    right: 64%;
    bottom: 11%;
    display: none;
    z-index: 999;
    opacity: 0;
}

#clue142 {
    width: 3%;
    height: 5%;
    right: 48%;
    bottom: 15%;
    display: none;
    z-index: 999;
    opacity: 0;
}

.questions {
    width: 80%;
    height: 65%;
    background-color: none;
    background-image: url("assets/images/question-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 15%;
    display: none;
    right: 2%;
    padding: 5%;
    font-weight: 600;
    z-index: 999;
}

.knife {
    width: 80%;
    height: 55%;
    background-image: url("assets/images/question-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 15%;
    display: none;
    right: 2%;
    padding: 5%;
    padding-top: 25%;
    font-weight: 700;
    font-size: 5%;
    z-index: 999;
    text-align: center;
    color: #0D2849;
}

.radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 2%;
}

.radios {
    height: 8%;
    width: 8%;
    border: none;
}

.option {
    display: flex;
}

.answer {
    margin-top: 3%;
    margin-right: 1%;
    width: 75%;
    font-size: 4.4%;
}

.buttons {
    display: flex;
    align-items: center;
}

.hint {
    left: 0%;
    top: 82.5%;
    width: 12%;
    height: 12%;
    border: none;
    border-radius: 1%;
    display: none;
    z-index: 999;
}

.back {
    right: 1%;
    top: 82.5%;
    width: 10%;
    height: 10%;
    border: none;
    border-radius: 1%;
    display: none;
}

.check {
    width: 10%;
    border: none;
    border-radius: 1%;
    bottom: 6%;
    margin-right: 58%;
}

.stabbed {
    width: 10%;
    height: 40%;
    right: 50%;
    top: 55%;
    display: none;
}

.exploaded {
    width: 40%;
    right: 60%;
    BOTTOM: 10%;
    display: none;
    z-index: 998;
}

.long {
    width: 35%;
}

.game {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    color: #4E7582;
    margin-top: 8%;
    margin-right: 6.5%;
    font-size: 2.3%;
    font-weight: bold;
    width: 70%;
}

.feedback {
    margin-top: 1%;
    display: none;
    width: 15%;
    right: 75%;
    top: 1%;
}

.smoke {
    display: none;
    z-index: 998;
    width: 70%;
    right: 0;
    bottom: 0;
}

.bomb {
    width: 30%;
    height: 30%;
    right: 34.5%;
    top: 60.7%;
    display: none;
    z-index: 998;
}

.goodJob {
    font-size: 8%;
    color: #0D2849;
    width: 35%;
    top: 43%;
}

.finished {
    width: 34%;
    color: #0D2849;
    font-weight: bold;
    top: 59%;
    right: 50%;
}

.resaults {
    width: 35%;
    color: #0D2849;
    font-weight:  bold;
    top: 65%;
    right: 49%;
}

.clue6glow {
    opacity: 0;
    width: 30%;
    height: 20%;
    right: 45%;
    top: 85%;
}

.clue10glow {
    opacity: 0;
    width: 30%;
    right: 30%;
    top: 5%;
}

.clue11glow {
    opacity: 0;
    width: 2.5%;
    z-index: 998;
    right: 30%;
    margin-top: -1%;
}

.clue12glow {
    opacity: 0;
    width: 5%;
    z-index: 998;
    margin-top: -8%;
    margin-left: 5%;
}

.clue13glow {
    opacity: 0;
    width: 5%;
    z-index: 998;
    margin-top: 4%;
}

.clue14glow {
    margin-right: 33%;
    opacity: 0;
    width: 4%;
    z-index: 998;
    margin-top: 4%;
}

.glow {
    height: 18.75%;
    width: 60%;
    bottom: 0;
    right: 15%;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
    display: none;
}

.about-div {
    background-image: url("assets/images/about/bghorizontal.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    width: 95%;
    padding-right: 5%;
    top: 10%;
    z-index: 100;
    color: white;
    display: none;
    font-weight: 400;
    font-size: 130%;
}

.logo {
    height: 20%;
    margin-top: -20%;
    margin-right: 77%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    margin-top: 10%;
}